<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Bare - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/main.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark static-top">
      <a class="navbar-brand" href="#">{{site.data.links.name}}</a>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
                {% for t in site.data.links.tabs %}
                    
                {% include tab-nav.html tab=t %}
            
            {% endfor %}
        </ul>    
        <ul>

        </ul>
        
      </div>
      <span class="navbar-text">
          {% include version.html %}
      </span>

  </nav>

  <!-- Page Content -->

  
 
    <div class="container-fluid mt-2">

              
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for t in site.data.links.tabs %}
                    
                    {% include tab-nav.html tab=t %}
                
                {% endfor %}

            </ul>
            <div class="tab-content mt-3" id="myTabContent">
                {% for t in site.data.links.tabs %}
                    {% include tab.html tab=t isActive=forloop %}
                {% endfor %}
                
            </div>

      <div  id="searchOverlay" class="fixed-bottom shadow-lg p-3 mb-5 ml-auto mr-auto bg-white rounded" style="display:none;">
        <input  class="form-control" autofocus type="text" placeholder="Search anything...">

      </div>      
               
    </div>
        


  <!-- Bootstrap core JavaScript -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="startpage/assets/js/search.js"></script>
  <script src="startpage/assets/js/filter.js"></script>

</body>

</html>
