<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{site.data.common.name}}</title>

  <!-- Bootstrap core CSS -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/main.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark static-top">
      <a class="navbar-brand" href="#">{{site.data.common.name}}</a>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="nav navbar-nav" id="tabNav" role="tablist">
            {% for t in site.data.links.tabs %}
           
                {% include tab-nav.html tab=t first=forloop %}

            {% endfor %}
        </ul>    
      </div>
      <span class="navbar-text">
          {% include version.html %}
      </span>

  </nav>

  <!-- Page Content -->
    <div class="container-fluid mt-2">
        <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...A</div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">..V.</div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">..VV.</div>
          </div> -->
            <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for t in site.data.links.tabs %}
                    {% include tab-nav.html tab=t %}
                {% endfor %}

            </ul> -->
            <div class="tab-content mt-3" id="myTabContent">
                {% for t in site.data.links.tabs %}
                    {% include tab.html tab=t isActive=forloop.first %}
                {% endfor %}
            </div>

      <div  id="searchOverlay" class="fixed-bottom shadow-lg p-3 mb-5 ml-auto mr-auto bg-white rounded" style="display:none;">
        <input  class="form-control" autofocus type="text" placeholder="Search anything...">
      </div>      
    </div>

  <!-- Bootstrap core JavaScript -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="startpage/assets/js/search.js"></script>
  <script src="startpage/assets/js/filter.js"></script>

</body>

</html>
